*~
/build
/target
/adt4j-core/build
/adt4j-core/target
/adt4j-examples/build
/adt4j-examples/target
/.nb-gradle
/.gradle
/adt4j/target/
/example/target/
/.mvn/extensions.xml
/adt4j-shaded/target/
/adt4j-shaded/dependency-reduced-pom.xml
/codemodel/target/
/codemodel/nbproject/
/codemold/nbproject/
/codemold/target/
/.idea
/adt4j-examples/adt4j-examples.iml
/adt4j-maven-parent.iml
/adt4j-shaded/adt4j-shaded.iml
/adt4j/adt4j.iml
/codemold/codemold.iml
